In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_excel('weatherRaw.xlsx')

In [3]:
weather_df

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD
0,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-10,8.0,1.4,NaN,NaN,NaN
1,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-11,NaN,NaN,0.00,0.0,NaN
2,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-12,NaN,NaN,0.31,NaN,NaN
3,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-13,NaN,NaN,0.11,NaN,NaN
4,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-14,NaN,NaN,0.00,0.0,NaN
5,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-15,NaN,NaN,0.38,3.2,NaN
6,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-16,NaN,NaN,0.16,2.1,5.2
7,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-17,NaN,NaN,0.00,0.0,4.5
8,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-18,NaN,NaN,0.00,0.0,4.0
9,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-19,NaN,NaN,0.16,0.0,2.5
10,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-20,NaN,NaN,0.00,0.0,2.0
11,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-21,NaN,NaN,0.00,0.0,2.0
12,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-08,NaN,NaN,0.00,0.0,NaN
13,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-09,NaN,NaN,0.90,NaN,NaN
14,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-10,NaN,NaN,0.02,NaN,NaN
15,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-11,NaN,NaN,0.00,0.0,NaN
16,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-12,NaN,NaN,1.10,NaN,NaN
17,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-13,NaN,NaN,0.10,NaN,NaN
18,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-14,NaN,NaN,0.00,0.0,NaN
19,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-15,NaN,NaN,0.45,NaN,NaN
20,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-16,NaN,NaN,0.19,NaN,NaN
21,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-17,NaN,NaN,0.00,0.0,NaN
22,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-18,NaN,NaN,0.00,0.0,NaN
23,US1TNDV0176,"NASHVILLE 6.1 ENE, TN US",2024-01-09,NaN,NaN,0.35,NaN,NaN
24,US1TNDV0176,"NASHVILLE 6.1 ENE, TN US",2024-01-12,NaN,NaN,0.53,NaN,NaN

In [4]:
weather_df.columns

Index(['STATION', 'NAME', 'DATE', 'DAPR', 'MDPR', 'PRCP', 'SNOW', 'SNWD'], dtype='object')

In [5]:
weather_df.describe()

                      DATE  DAPR  MDPR       PRCP       SNOW      SNWD
count                   25   1.0   1.0  24.000000  14.000000  6.000000
mean   2024-01-14 00:00:00   8.0   1.4   0.198333   0.378571  3.366667
min    2024-01-08 00:00:00   8.0   1.4   0.000000   0.000000  2.000000
25%    2024-01-11 00:00:00   8.0   1.4   0.000000   0.000000  2.125000
50%    2024-01-14 00:00:00   8.0   1.4   0.060000   0.000000  3.250000
75%    2024-01-17 00:00:00   8.0   1.4   0.320000   0.000000  4.375000
max    2024-01-21 00:00:00   8.0   1.4   1.100000   3.200000  5.200000
std                    NaN   NaN   NaN   0.297243   0.986196  1.380821

In [6]:
condensed_df = weather_df.groupby('DATE').agg({'DAPR':'mean', 'MDPR':'mean', 'PRCP':'mean', 'SNOW':'mean', 'SNWD':'mean'})

In [7]:
condensed_df

            DAPR  MDPR      PRCP  SNOW  SNWD
DATE
2024-01-08   NaN   NaN  0.000000   0.0   NaN
2024-01-09   NaN   NaN  0.625000   NaN   NaN
2024-01-10   8.0   1.4  0.020000   NaN   NaN
2024-01-11   NaN   NaN  0.000000   0.0   NaN
2024-01-12   NaN   NaN  0.646667   NaN   NaN
2024-01-13   NaN   NaN  0.105000   NaN   NaN
2024-01-14   NaN   NaN  0.000000   0.0   NaN
2024-01-15   NaN   NaN  0.415000   3.2   NaN
2024-01-16   NaN   NaN  0.175000   2.1   5.2
2024-01-17   NaN   NaN  0.000000   0.0   4.5
2024-01-18   NaN   NaN  0.000000   0.0   4.0
2024-01-19   NaN   NaN  0.160000   0.0   2.5
2024-01-20   NaN   NaN  0.000000   0.0   2.0
2024-01-21   NaN   NaN  0.000000   0.0   2.0

In [6]:
len(weather_df)

25

In [7]:
weather_df.isnull().sum()

STATION     0
NAME        0
DATE        0
DAPR       24
MDPR       24
PRCP        1
SNOW       11
SNWD       19
dtype: int64

In [9]:
weather_df = weather_df.fillna(value = '0.00')

In [10]:
weather_df

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD
0,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-10,8.0,1.4,0.00,0.00,0.00
1,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-11,0.00,0.00,0.0,0.0,0.00
2,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-12,0.00,0.00,0.31,0.00,0.00
3,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-13,0.00,0.00,0.11,0.00,0.00
4,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-14,0.00,0.00,0.0,0.0,0.00
5,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-15,0.00,0.00,0.38,3.2,0.00
6,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-16,0.00,0.00,0.16,2.1,5.2
7,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-17,0.00,0.00,0.0,0.0,4.5
8,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-18,0.00,0.00,0.0,0.0,4.0
9,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-19,0.00,0.00,0.16,0.0,2.5
10,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-20,0.00,0.00,0.0,0.0,2.0
11,US1TNDV0184,"HERMITAGE 4.6 WSW, TN US",2024-01-21,0.00,0.00,0.0,0.0,2.0
12,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-08,0.00,0.00,0.0,0.0,0.00
13,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-09,0.00,0.00,0.9,0.00,0.00
14,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-10,0.00,0.00,0.02,0.00,0.00
15,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-11,0.00,0.00,0.0,0.0,0.00
16,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-12,0.00,0.00,1.1,0.00,0.00
17,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-13,0.00,0.00,0.1,0.00,0.00
18,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-14,0.00,0.00,0.0,0.0,0.00
19,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-15,0.00,0.00,0.45,0.00,0.00
20,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-16,0.00,0.00,0.19,0.00,0.00
21,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-17,0.00,0.00,0.0,0.0,0.00
22,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2024-01-18,0.00,0.00,0.0,0.0,0.00
23,US1TNDV0176,"NASHVILLE 6.1 ENE, TN US",2024-01-09,0.00,0.00,0.35,0.00,0.00
24,US1TNDV0176,"NASHVILLE 6.1 ENE, TN US",2024-01-12,0.00,0.00,0.53,0.00,0.00